html{
	font-family: 'Roboto', sans-serif;
}
body{
	width: 80%;
	margin: auto;
}
h1{
	font-weight: bold;
}
.center{
	text-align: center;
}
.navbar{
	width: 80%;
	margin: auto;
}
.container{
	margin-top: 60px;
	margin-bottom: 15px;
}
.btn{
	margin-top: 20px;
	margin-bottom: 20px;
}